@use '../helpers/' as *;

.about {
	padding-block: fluid(120, 40);
	background-color: var(--color-dark-10);

&_inner {
	display: grid;
	row-gap: fluid(100, 40);
}

&_header {
	display: grid;
	grid-template-columns: auto 1fr;

grid-template-areas: 
'icon info'
'icon description';
align-items: center;
	column-gap: fluid(80, 20);
	row-gap: rem(30);

	@include laptop {
		row-gap: rem(20);
	}
	@include mobile {
		
grid-template-areas: 
'icon subtitle'
'title title'
'description description';
		row-gap: rem(4);
	}
}

&_icon {
	grid-area: icon;
	width: fluid(150, 60);

	
}

&_info {
	display: grid;
	row-gap: rem(16);

	@include laptop {
		row-gap: rem(10);
	}

@include mobile {
	display: contents;
}

}

&_subtitle {
	justify-self: start;

	@include mobile {
		grid-area: subtitle;
	}
}

&_title {

		@include mobile {
		grid-area: title;
		margin-top: rem(20);
	}
}

&_description {
	
	@include mobile {
		grid-area: description;
	}
}

&_list {
	display: grid;
	
	gap: rem(20);
	padding: rem(20);
	background-color: var(--color-dark);
	border-radius: rem(12);

	@include laptop {
		gap: rem(10);
		padding: rem(10);
		border-radius: rem(10);
	}

	@include mobile-above {
	grid-template-columns: repeat(3, 1fr);
	}
}

}