@use '../helpers/' as *;

.about-card {
	display: flex;
	flex-direction: column;
	row-gap: fluid(20, 10);
	

	@include laptop {
	row-gap: rem(12);
	flex-grow: 1;
 }

	&_title {

		@include fluid-text(22, 16);

		display: flex;
		align-items: center;

		font-family: var(--font-family-base);
		font-weight: 600;

	}
	}
.about-card.tile {

		@include laptop {
			padding: clamp(20px, 2vw, 25px);

		}
		@include mobile {
			padding: clamp(24px, 2.5vw, 25px);

		}

}