@use '../helpers/' as *;

.accordion {
	&_details {
	&[open] {
		.accordion_title {
			&::before,
			&::after {
				background-color: var(--color-light);
			}

			&::after {
			rotate: 0deg;
		}
		}
	}
	}

	&_summary {
		list-style: none;

		&::-webkit-details-marker {
			display: none;
		}
	}

	&_title {
		position: relative;
		padding-right: rem(50);

		&::before,
		&::after {
			@include abs-y;

			content: '';
			right: 0;
			width: rem(16);
			height:rem(2);
			background-color: var(--color-accent);
			border-radius: 1rem;
			transition-duration: var(--transition-duration);
		}
		&::after {
			rotate: 90deg;
		}
	}
}