@use '../helpers/' as *;

.accordion {


	&_details {
	&[open] {
		.accordion_title {
			&::before,
			&::after {
				background-color: var(--color-light);
			}

			&::after {
			rotate: 0deg;
		}

		}
		
		& + .accordion_content {
			grid-template-rows: 1fr;
		}
	}
	cursor: pointer;
	}

	&_summary {
		color:var(--color-light);
		list-style: none;

		@include hover {
			color: var(--color-accent);
		}

		&::-webkit-details-marker {
			display: none;
		}
	}

	&_title {
		position: relative;
		padding-right: rem(50);
		color: inherit;
		transition-duration: var(--transition-duration);

		&::before,
		&::after {
			@include abs-y;

			content: '';
			right: 0;
			width: rem(16);
			height:rem(2);
			background-color: var(--color-accent);
			border-radius: 1rem;
			transition-duration: var(--transition-duration);
			
		}
		&::after {
			rotate: 90deg;
		}
	}

	&_content {
		display: grid;
		grid-template-rows: 0fr;
		transition-duration: 0.3s;

		&-inner {
			overflow: hidden;
		}

	&-body {
		--offsetTop: #{fluid(24, 16)};
		margin-top: var(--offsetTop);
		padding-top: var(--offsetTop);
		border-top: var(--border);
	}
	}
}

