@use "../helpers/" as *;

.advantage-card {
	display: grid;
	row-gap: rem(30);

	@include laptop {
		row-gap: rem(20);
	}
&_link {
	--circleSize: #{rem(52)};
	--circleMarginLeft: #{rem(20)};

	position: relative;
	display: grid;
	row-gap: rem(4);
	padding-right: calc(var(--circleSize) + var(--circleMarginLeft));

	@include laptop {
		--circleSize: #{rem(44)};
		--circleMarginLeft: #{rem(14)};
	}

	&::after {
		@include square(var(--circleSize));
		@include abs-y;

		content: '';
		right: 0;
		background: url('../../icons/arrow-top-right_black.svg') center no-repeat
		var(--color-accent);
		border-radius: 50%;
	}
}

&_details {
	@include fluid-text(20, 14);
	font-family: var(--font-family-accent);
}

}