@use '../helpers/' as *;

.blog-details {
	&_banner {
		display: flex;
		align-items: end;
		min-height: fluid(598, 281);
		padding-block: fluid(65, 17);
		text-align: center;
		background: linear-gradient(180deg,
				rgba(20, 20, 20, 0) 0%,
				rgba(20, 20, 20, 088) 75.52%,
				#141414 100%),
			var(--bgImg) center/cover no-repeat;
	}

	&_title {
		@include fluid-text(64, 28);
		font-family: var(--font-family-base);
		font-weight: 600;
	}


	&_body {
		border-block: var(--border);

		&-inner {
			display: grid;
			grid-template-columns: 1fr rem(520);

			@include tablet {
				display: flex;
				flex-direction: column-reverse;
			}
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			&:not(:first-child) {
				margin-top: 1.5em;
			}

			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}

	}

	&_content {
		@include tablet-above {
		border-right: var(--border);
		}
	}

	&_intro,
	&_main,
	&_actions,
	&_summary {
		padding: fluid(80, 40) rem(80);

		@include laptop {
			padding-inline: rem(60);
		}
		@include tablet {
			padding-inline: 0;
		}
	}

	&_intro,
	&_actions,
	&_summary {
		@include tablet {
			@include full-vw-centered-line(bottom);
		}
	}

	&_intro,
	&_actions {
		
		@include tablet-above {
		border-bottom: var(--border);
		}
	}

	&_actions {
		padding-block: fluid(50, 20);
	}

	&_main {

		&.expandable-content {
			--initialMaxHeight: #{rem(741)};

			@include laptop {
				--initialMaxHeight: #{rem(692)};
			}

			@include mobile {
				--initialMaxHeight: #{rem(669)};
			}
		}

	}
}