@use "../helpers/" as *;

.bordered-grid {
  --columns: 1;
  --itemPaddingY: #{fluid(80, 40)};

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
	 

  &-2-cols {
    --columns: 2;
  }

  &-3-cols {
    --columns: 3;
    --itemPaddingX: #{rem(50)};

    @include laptop {
      --itemPaddingX: #{rem(40)};
    }

		@include tablet-above {
		.bordered-grid_item {
      /*
			выбирает элементы в 1-й и 2-й колонке
			*/
      &:nth-child(3n - 2),
      &:nth-child(3n - 1) {
        padding-right: var(--itemPaddingX);
        border-right: var(--border);
      }

      /*
			выбираем элементы во второй колонке
			*/
      &:nth-child(3n - 1) {
        @include full-vw-centered-line(bottom);
      }

      /*
		выбирает элементы в 2-й и 3-й колонке
		*/
      &:nth-child(3n - 1),
      &:nth-child(3n) {
        padding-left: var(--itemPaddingX);
      }
			
    }
		}

		@include tablet {
			--columns: 1;

			.border-grid_item:not(:last-child) {
				border-bottom: var(--border);
			}
		}

    
  }

  &_item {
    padding-block: var(--itemPaddingY);
  }
}
