@use '../helpers/' as *;

.feedback-form {
	display: grid;

	gap: fluid(50, 20) rem(50);

	@include mobile-s-above {
	grid-template-columns: repeat(2, 1fr);
	}
	

	&_cell {
		&-wide {
			grid-column: -1 / 1;
		}
	}


	&_actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 1rem;

		@include mobile-s {
			flex-direction: column;
			align-items: stretch;
			row-gap: rem(20);
		}
	}
	&_submit-button {
		min-width: rem(137);
	}

}