@use '../helpers/' as *;

.metrics {

	--columns: 3;

	&-4-cols {
		--columns: 4;
		text-align: center;

		@include tablet-above {
			.metrics_item:nth-child(4n) {
			padding-right: 0;
		}
		}

		@include tablet {
			--columns: 2;

			padding-inline: 0;

			.metrics_item {
				border-bottom: var(--border);
				
				&:nth-child(odd) {
					padding-left: var(--container-padding-x);
				}

				&:nth-child(even) {
					padding-right: var(--container-padding-x);
					border-right: none;
				}
			}
		}

		
	}

		&_list {
		display: grid;
		grid-template-columns: repeat(var(--columns), 1fr);
	}
	&_item {
		display: flex;
		flex-direction: column-reverse;
		row-gap: rem(10);
		padding: rem(50);

		@include laptop {
			row-gap: rem(2);
			padding: rem(30) rem(40);
			
		}

		@include tablet {
			row-gap: rem(0);
			padding: rem(20);
			
		}

		&:first-child {
			padding-left: 0;
		}
		&:not(:last-child) {
			border-right: var(--border);
		}
		
	}
	&_value {
			font-weight: 600;
		}
		&_sign {
			color: var(--color-accent);
		}
}