@use '../helpers/' as *;

.person-card {
	display: flex;
	align-items: center;
	column-gap: fluid(16,8);

	&_image {
		width: rem(80);
		background-color: var(--color-dark-15);
		border-radius: 50%;

		@include laptop {
			width: rem(60);
		}
	}

	&_body {
		display: grid;
		@include laptop-above {
		row-gap: rem(2);
		}
	}
	&_name {
		color: var(--color-light);
		font-weight: 600;
		font-size: rem(18);

		@include laptop {
			font-size: rem(18);
		}
	}
}