@use '../helpers/' as *;

.person-card {

	--imageSize: #{rem(80)};


	display: flex;
	align-items: center;
	column-gap: fluid(16,8);

	@include laptop {
		--imageSize: #{rem(60)};
	}

	&_image {
			width: var(--imageSize);
		background-color: var(--color-dark-15);
		border-radius: 50%;

	}

	&_body {
		display: grid;
		@include laptop-above {
		row-gap: rem(2);
		}
	}
	&_name {
		color: var(--color-light);
		font-weight: 600;
		font-size: rem(18);

		@include laptop {
			font-size: rem(18);
		}
	}
}