@use '../helpers/' as *;

.resources-preview {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: start;
	row-gap: rem(30);

	@include laptop {
		row-gap: rem(20);
	}

	&_body {
		display: grid;
		row-gap: rem(14);

		@include laptop {
		row-gap: rem(6);
	}
	}

	&_button {
		@include mobile-s {
			width: 100%;
		}
	}

}