@use '../helpers/' as *;

.review-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: rem(60);
	max-width: rem(500);
	margin-inline: auto;

	@include laptop {
		row-gap: rem(50);
	}

&_author {
	--imageSize: #{rem(60)};
	--itemPaddingY: #{fluid(80, 40)};
	

@include laptop {
	--imageSize: #{rem(50)};
}
}

&_body {
	position: relative;
	padding: fluid(30, 20);
	padding-top: fluid(50, 30);
	color: var(--color-light);
	text-align: center;
}

&_rating-view {
	@include abs-center;
	top: 0;
	
}

}