@use '../helpers/' as *;

.section {

	&_header {
		padding-block: fluid(120, 40);
		background-color: var(--color-dark-10);

		&-inner {
			&:has(.section_link) {
				display:grid;
				
				align-items:center;
				column-gap: 1rem;

				@include mobile-above {
				grid-template-columns: 1fr auto;
				}

				@include mobile {
					row-gap: rem(30);
				}
			}
		}

		&-info {
			display: grid;
			align-items: start;
			row-gap: rem(16);

			@include laptop {
				row-gap:rem(10);
			}
		}
	}
	
	&_subtitle {
			justify-self: start;
		}
		&_body {
			border-block: var(--border);
		}
}
