@use '../helpers/' as *;

.section {

	&_header {
		padding-block: fluid(120, 40);
		background-color: var(--color-dark-10);

		&-info {
			display: grid;
			align-items: start;
			row-gap: rem(16);

			@include laptop {
				row-gap:rem(10);
			}
		}
	}
	
	&_subtitle {
			justify-self: start;
		}
		&_body {
			border-block: var(--border);
		}
}
