@use '../helpers/' as *;

.soc1als {

			&-3-cols {
				width: 100%;
				max-width: rem(308);
			.soc1als {
				&_list {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					row-gap: rem(10);

					@include laptop {
					column-gap: rem(10);
					}
				}

				&_link {
					@include flex-center;

					height: rem(60);
					background-color: var(--color-dark-10);
					border: var(--border);
					border-radius: rem(6);
					width: 100%;
					@include laptop {
						height: rem(48);
					}
				}
			}
		}

&_list {
		display: flex;
		column-gap: rem(20);

		@include laptop {
			column-gap: rem(14);
		}
	}



&_item {
	display: flex;
}

&_link {
	--size:#{rem(24)};

	@include square(var(--size));

	color: var(--color-light);
	align-items:center;

	@include laptop {
		--size:#{rem(20)};
	}
}
}