@use '../helpers/' as *;

.video-player {
	position: relative;
	&_video {
		width: 100%;
		height: fluid(412, 210);
		object-fit: cover;
		border-radius: rem(12);

		@include laptop {
			border-radius: rem(10);
		}
		&-small {
			height: fluid(290, 208);
		}
	}
	
	&_panel {
		position: absolute;
		inset: 0;
		display: flex;
		justify-content: space-between;
		align-items:end;
		column-gap: 1rem;
		padding: rem(30);
		transition-duration: var(--transition-duration);

		&-centre {
			justify-content: center;
			align-items: center;
		}

		&:not(.is-active) {
			@include hide;
		}

		&::before {
			content:'';
			position: absolute;
			inset: 0;
			background-image: linear-gradient(
				180deg,
				rgba(20, 20, 20, 0) 44.27%,
				#141414 100%);
		}

		* {
		position: relative;// элементы не перекрываются градиентом
		z-index: 1;
	}
	}

	

	&_play-button {
		--size: #{rem(70)};

		@include flex-center;
		@include square(var(--size));

		padding: 0;
		color: var(--color-light);
		background-color: transparent;
		border: none;


		@include hover {
			color: var(--color-accent);
}

		@include laptop {
			--size: #{rem(50)};
		}
	}
}


