@use '../helpers/' as *;

.video-card {
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: rem(30);
	height: 100%;


	@include laptop {
		row-gap: rem(20);
	}

	&_body {
		display: grid;
		row-gap: fluid(10, 4);
		flex-grow: 1;
	}

	&_player {
		width: 100%;
	}
}