@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

// ИСПРАВЬТЕ ЭТИ СТРОКИ:
@use 'blocks/icon';          // убрать /styles/
@use 'blocks/logo';
@use 'blocks/button';
@use 'blocks/burger-button';
@use 'blocks/header';
@use 'blocks/badge';
@use 'blocks/footer';
@use 'blocks/soc1als';

.header {
	display: none !important;
}
