@import "./normalize.css";
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-dark: #141414;
  --color-dark-10: #1a1a1a;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;
  --color-gray-50: #7e7e81;
  --color-gray-60: #98989a;
  --color-accent: #ffd11a;
  --color-red: #ff5500;
  --gradient: linear-gradient( 45deg,
  var(--color-dark-15) 64%,
  var(--color-accent) 136%);
  --border: 0.0625rem solid var(--color-dark-15);
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Kumbh Sans", sans-serif;
  --container-width: 100rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.5s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-gray-50);
  background-color: var(--color-dark);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h5,
.h6 {
  color: var(--color-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-accent);
  font-weight: 500;
}

h4,
.h4,
h5,
.h5,
h5,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  font-size: clamp(1.875rem, 1.237745098rem + 2.614379085vw, 4.375rem);
  line-height: 1.2;
}

h2,
.h2 {
  font-size: clamp(1.75rem, 1.2720588235rem + 1.9607843137vw, 3.625rem);
  line-height: 1.3;
}

h3,
.h3 {
  font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
}

h4,
.h4 {
  font-size: clamp(1.125rem, 0.9975490196rem + 0.522875817vw, 1.625rem);
}

h5,
.h5 {
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
}

h6,
.h6 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.icon {
  display: inline-flex;
  align-items: center;
  column-gap: 0.625rem;
}
.icon::after {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
  content: "";
  flex-shrink: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (width <= 90.06125rem) {
  .icon::after {
    --size: 1.25rem;
  }
}
.icon-yellow-arrow::after {
  background-image: url("../../icons/arrow-top-right_yellow.svg");
}

.logo {
  max-width: clamp(7.875rem, 7.0306372549rem + 3.4640522876vw, 11.1875rem);
}

.button {
  display: inline-flex;
  justify-content: center;
  padding: 1.125rem 1.5rem;
  font-size: 1.125rem;
  color: var(--color-gray-60);
  white-space: nowrap;
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: 0.75rem;
}
@media (width <= 90.06125rem) {
  .button {
    padding: 0.875rem 1.25rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
  }
}
@media (any-hover: hover) {
  .button:hover {
    color: var(--color-accent);
    background-color: var(--color-dark-10);
    border-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .button:active {
    color: var(--color-accent);
    background-color: var(--color-dark-10);
    border-color: var(--color-accent);
  }
}
.button-accent {
  font-weight: 500;
  color: var(--color-dark);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  border-radius: 0.5rem;
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-light);
  background-color: transparent;
  border: none;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-accent);
  }
}
.burger-button.is-active .burger-button_line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.1em;
}
.burger-button.is-active .burger-button_line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button_line:last-child {
  width: 0;
}
.burger-button_line {
  width: 100%;
  height: 0.125rem;
  background-color: currentColor;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}
.burger-button_line:last-child {
  align-self: end;
  width: 55%;
}

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeLine: scroll();
  animation-range: 6.25rem 12.5rem;
}
@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-dark-40);
  }
}
.header-promo {
  padding-block: 1.25rem;
  text-align: center;
  background-color: var(--color-dark);
  border-bottom: var(--border);
}
@media (width <= 47.99875rem) {
  .header-promo {
    padding-block: 0.875rem;
  }
}
.header-body {
  padding-block: 1.5rem;
  background-color: var(--color-dark-10);
}
@media (width <= 47.99875rem) {
  .header-body {
    padding-block: 1.25rem;
  }
}
.header-body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
@media (width > 47.99875rem) {
  .header-overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    padding: 1rem;
    background-color: var(--color-dark-10);
    transition-duration: var(--transition-duration);
  }
  .header-overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
@media (width <= 47.99875rem) {
  .header-menu {
    overflow-y: auto;
  }
}
.header-menu-list {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
@media (width <= 90.06125rem) {
  .header-menu-list {
    column-gap: 0.375rem;
  }
}
@media (width <= 47.99875rem) {
  .header-menu-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.header-menu-link {
  padding: 0.875rem 1.5rem;
  color: var(--color-gray-50);
}
@media (width <= 90.06125rem) {
  .header-menu-link {
    padding: 0.625rem 1.125rem;
  }
}
.header-menu-link.is-active {
  color: var(--color-light);
  font-weight: 500;
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: 0.625rem;
  pointer-events: none;
}
@media (width <= 47.99875rem) {
  .header-contact-us-link {
    width: 100%;
    max-width: 18.75rem;
    align-self: center;
  }
}

.badge {
  display: inline-flex;
  padding: clamp(0.125rem, 0.0931372549rem + 0.1307189542vw, 0.25rem) clamp(0.625rem, 0.5612745098rem + 0.2614379085vw, 0.875rem);
  font-size: 1rem;
  color: var(--color-light);
  background: linear-gradient(var(--color-dark-10), var(--color-dark-10)) padding-box, var(--gradient) border-box;
  border: 0.0625rem solid transparent;
  border-radius: 0.375rem;
}
@media (width <= 90.06125rem) {
  .badge {
    font-size: 0.875rem;
    border-radius: 0.25rem;
  }
}

.footer {
  color: var(--color-dark-40);
}
.footer_body {
  padding-block: clamp(2.5rem, 1.862745098rem + 2.614379085vw, 5rem);
  border-bottom: var(--border);
}
.footer_menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  column-gap: clamp(1.25rem, 0.2941176471rem + 3.9215686275vw, 5rem);
}
@media (width <= 63.99875rem) {
  .footer_menu {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
  }
}
@media (width <= 47.99875rem) {
  .footer_menu {
    row-gap: 1.25rem;
  }
}
.footer_menu-column {
  display: grid;
  row-gap: clamp(1rem, 0.681372549rem + 1.3071895425vw, 2.25rem);
}
@media (width <= 63.99875rem) {
  .footer_menu-column:last-child {
    grid-colum: -1/1;
  }
  .footer_menu-column:last-child .footer_menu-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
}
.footer_menu-list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.5rem, 0.3406862745rem + 0.6535947712vw, 1.125rem);
}
.footer_menu-item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.footer_extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding-block: 2.5rem;
}
@media (width <= 90.06125rem) {
  .footer_extra {
    padding-block: 1.5rem;
  }
}
@media (width <= 47.99875rem) {
  .footer_extra {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.footer_extra-menu-list {
  display: flex;
}
.footer_extra-menu-item:not(:last-child)::after {
  content: "|";
  margin-inline: 0.6875rem;
}
@media (width <= 47.99875rem) {
  .footer_soc1als {
    order: -1;
  }
}

.soc1als_list {
  display: flex;
  column-gap: 1.25rem;
}
@media (width <= 90.06125rem) {
  .soc1als_list {
    column-gap: 0.875rem;
  }
}
.soc1als_item {
  display: flex;
}
.soc1als_link {
  --size:1.5rem;
  width: var(--size);
  height: var(--size);
  color: var(--color-light);
  align-items: center;
}
@media (width <= 90.06125rem) {
  .soc1als_link {
    --size:1.25rem;
  }
}

.advantage-card {
  display: grid;
  row-gap: 1.875rem;
}
.advantage-card_link {
  --circleSize: 3.25rem;
  --circleMarginLeft: 1.25rem;
  position: relative;
  display: grid;
  row-gap: 0.25rem;
  padding-right: calc(var(--circleSize) + var(--circleMarginLeft));
}
.advantage-card_link::after {
  width: var(--circleSize);
  height: var(--circleSize);
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  content: "";
  right: 0;
  background: url("../../icons/arrow-top-right_black.svg") center no-repeat var(--color-accent);
  border-radius: 50%;
}
.advantage-card_details {
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
  font-family: var(--font-family-accent);
}

.hero_main {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-areas: "body resources-preview" "metrics resources-preview";
}
.hero_body {
  grid-area: body;
  padding-top: 9.375rem;
  padding-right: 3.125rem;
  padding-bottom: 6.25rem;
}
.hero_subtitle {
  font-size: clamp(1.125rem, 0.9338235294rem + 0.7843137255vw, 1.875rem);
  font-family: var(--font-family-accent);
  font-weight: 500;
  color: var(--color-dark-40);
}
.hero_subtitle:not(:last-child) {
  margin-bottom: 1.875rem;
}
.hero_title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.hero_metrics {
  grid-area: metrics;
}
.hero_resources-preview {
  grid-area: resources-preview;
  padding-left: 5rem;
  padding-bottom: 5rem;
  border-left: var(--border);
  background: url(../../images/resources-preview/bg.png) 0 0/cover no-repeat;
}
.hero_advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.hero_advantages-item {
  --paddingX: 5rem;
  padding-block: 3.125rem;
}
.hero_advantages-item:not(:first-child) {
  padding-left: var(--paddingX);
}
.hero_advantages-item:not(:last-child) {
  padding-right: var(--paddingX);
  border-right: var(--border);
}

.metrics_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.metrics_item {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 0.625rem;
  padding: 3.125rem;
}
.metrics_item:first-child {
  padding-left: 0;
}
.metrics_item:not(:last-child) {
  border-right: var(--border);
}
.metrics_value {
  font-weight: 600;
}
.metrics_sign {
  color: var(--color-accent);
}

.resources-preview {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  row-gap: 1.875rem;
}
.resources-preview_body {
  display: grid;
  row-gap: 0.875rem;
}

.team {
  --personImageSize: 3.75rem;
  display: flex;
  padding: 0.625rem;
  background-color: var(--color-dark-10);
  border-radius: 6.25rem;
}
.team_person {
  width: var(--personImageSize);
  background-color: var(--color-dark-15);
  border: 0.125rem solid var(--color-dark-40);
  border-radius: 50%;
}
.team_person:not(:first-child) {
  margin-left: calc(var(--personImageSize) / 4 * -1);
}

.header,
.footer {
  display: none !important;
}

/*# sourceMappingURL=main.css.map */
